@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUSE";
}

body {
  width: 98vw;
  height: 98vh;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

h1 {
  padding-left: 10px;
  color: #fffafb;
  letter-spacing: 1.8px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 0.3fr 0.3fr 1fr; */
  grid-template-areas:
    "search search search"
    "header welcome welcome"
    "contact table table";
  grid-gap: 1rem;
}

/* Search bar Styling */
.search-container {
  grid-area: search;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-input {
  width: 75%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #fffafb;
  border-radius: 50px;
  border: 1px solid #fffafb;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search-input:hover,
.search-input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #339989;
  border-radius: 0;
  background-position: 100% center;
}

.search-input::placeholder {
  color: #fffafb;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}


/* Contacts Styling */
.header {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
}

.welcome {
  width: 200%;
  display: flex;
  justify-content: center;
}

.fa-phone {
  color: #339989;
  font-size: 35px;
  line-height: 40px;
}

/* Styles for the add form */
.error-container {
  grid-area: contact;
  margin-bottom: 5px;
  color: lightcoral;
  font-size: 0.9rem;
  font-family: "SUSE", sans-serif;
}

.error-msg {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-msg .fa-exclamation-triangle {
  margin-right: 8px;
  color: lightcoral;
}

.icon-space {
  margin-right: 8px; 
}

.error-row {
  color: lightcoral;
  font-size: 0.9rem;
  font-family: "SUSE", sans-serif;
  margin-bottom: 5px;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 0;
  border: none;
  pointer-events: none;
}

table tr {
  border-collapse: collapse;
}

.error-row td {
  border-top: none; 
  padding: 10px;
}

.contacts-form {
  grid-area: contact;
  background-color: #fffafb;
  padding: 20px;
  border-radius: 15px;
  margin-left: 25px;
  box-shadow: 4.1px 8.2px 8.2px hsl(0deg 0% 0% / 0.37);
}

.contacts-form .divider {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts-form input {
  background-color: #eee;
  height: 35px;
  border: transparent;
  border-bottom: 6px solid lightcoral;
  border-radius: 15px;
  width: 100%;
  outline: none;
  padding-left: 15px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: #575756;
}

.contacts-form .fa-xmark {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  right: 10px;
  color: lightcoral;
  z-index: 2;
}

.contacts-form .fa-check {
  position: absolute;
  right: 10px;
  color: lightgreen;
  top: 50%;
  transform: translateY(50%);
  opacity: 0;
  z-index: 1;
}

.divider.valid input {
  border-bottom: 6px solid lightgreen;
}

.divider.valid .fa-check {
  opacity: 1;
  z-index: 3;
}

.divider.valid .fa-xmark {
  opacity: 0;
  z-index: 1;
}

.contacts-form input:hover,
.contacts-form input:focus {
  border-radius: 5px;
  box-shadow: 2.1px 5.2px 5.2px hsl(0deg 0% 0% / 0.37);
}

.contacts-form button {
  padding: 6px 10px 6px 10px;
  margin-top: 10px;
  background-color: #339989;
  border-radius: 15px;
  height: 35px;
  border: 1px solid #eee;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #dfe4e3;
}

.contacts-form button:hover,
.contacts-form button:focus {
  background-color: #7de2d1;
  box-shadow: 2.1px 5.2px 5.2px hsl(0deg 0% 0% / 0.37);
  border: transparent;
  color: #575756;
}

/* Styles for the table */
.table-container {
  grid-area: table;
  margin-left: 25px;
}

.table {
  overflow: hidden;
  background-color: #fffafb;
  border-radius: 15px;
  box-shadow: 4.1px 8.2px 8.2px hsl(0deg 0% 0% / 0.37);
}

.table .button-table button {
  background-color: transparent;
  color: #339989;
  font-size: 15px;
}

.table .button-table {
  padding: 2px;
}

.table .button-table button:hover {
  color: #7de2d1;
}

/* buttons for sorting */
.toggle-sort {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 4pt;
  color: #339989;
  transition: color 0.3s ease;
}

.toggle-sort:hover {
  color: #7de2d1;
}

.toggle-sort:focus {
  outline: none;
}

/* end of sort buttons */

.log-out {
  display: flex;
  justify-content: end;
}

#logoutButton {
  padding: 6px 10px 6px 10px;
  margin-top: 10px;
  height: 35px;
  background-color: #339989;
  color: #dfe4e3;
  font-size: 15px;
  font-weight: 600;
  border-radius: 15px;
  border: transparent;
  cursor: pointer;
  box-shadow: 4.1px 8.2px 8.2px hsl(0deg 0% 0% / 0.37);
}

#logoutButton:hover,
#logoutButton:focus {
  background-color: #7de2d1;
  box-shadow: 2.1px 5.2px 5.2px hsl(0deg 0% 0% / 0.37);
  border: transparent;
  color: #575756;
}

@media only screen and (max-width: 650px) {
  body {
    background: #0f2027;
  }
  .welcome {
    width: 100%;
  }
  .header {
    opacity: 0;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1.2fr 1.2fr;
    grid-template-areas:
      "search"
      "welcome"
      "contact"
      "table"
      "header";
  }
}

/* Notification Box Styles */

.notification-box {
  width: 250px;
  display: none;
  position: absolute;
  bottom: 10px;
  left: 93%;
  background-color: #dfe4e3;
  color: #339989;
  padding: 24px 12px 24px 12px;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border-right: 10px solid #7de2d1;
  z-index: 1000;
  transform: translateX(-50%);
}

.notification-box .notification-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.notification-content .fa-check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: #339989;
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
}

.notification-content .text {
  margin-left: 10px;
}