@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SUSE';
}

html, body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}

.container{  
    min-width: 390px;
    background: #fffafb;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);  
    height: 320px;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.container.active {
    height: 525px;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

/* Top buttons styling */
.container .choice-btns {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 10px 0 10px 0;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: 5px;
}

.choice-btns .btn {
    height: 100%;
    width: 100%;
    color: #fffafb;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
}

.slide-controls label.signup{
    color: #000;
}

.choice-btns .btn-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background-color: #339989;
    transition: all 0.6s ease;
}

input[type="radio"] {
    display: none;
}

#signup:checked ~ .btn-tab {
    left: 50%;
}

#signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked ~ label.login {
    color: #000;
    transition: transform 300ms ease-in-out;
    transition-delay: 100ms
}

#login:checked ~ label.signup {
    color: #000;
    transition: transform 300ms ease-in-out;
    transition-delay: 100ms
}

#login:checked ~ label.login {
    cursor: default;
    user-select: none;
}

#login:checked ~ label.signup:hover{
    color: #575756;
    border-radius: 15px;
    border-right: 3px solid #7de2d1;
    border-bottom: 3px solid #7de2d1;
    transform: translateY(-5%);
}

#signup:checked ~ label.login:hover{
    color: #575756;
    border-radius: 15px;
    border-left: 3px solid #7de2d1;
    border-top: 3px solid #7de2d1;
    transform: translateY(5%);
}

/* Form Styling */
.container .form-container {
    width: 100%;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(0.68,-0.55,0.280,1.1);
}

.container button {
    background-color: #339989;
    color: #fffafb;
    width: 100%;
    height: 50px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

/* to make the box shadow show */
.inner-container #signUpButton {
    margin-bottom: 10px;
}

.inner-container button:focus, .inner-container button:hover {
    color: #575756;
    background-color: #7de2d1;
    font-weight: 800;
    box-shadow: 2.1px 5.2px 5.2px hsl(0deg 0% 0% / 0.37);
    transition: ease-in 0.3s;
}

.inner-container form .divider {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

/* All of the inputs */
.inner-container form .divider input {
    background-color: #eee;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    transition: all 0.3s ease;
}


.divider input:focus,
.divider input:hover{
    box-shadow: 2.1px 5.2px 5.2px hsl(0deg 0% 0% / 0.37);
}

.container .inner-container {
    width: 200%;
    display: flex;
}

.log-in {
    left: 0;
    width: 50%;
    z-index: 2;
} 

.container.active .log-in {
    transform: translateX(100%);
    opacity: 0;
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(-100%);
    opacity: 1;
    z-index: 5;
}


/* Notification Box */
.notification-box {
    width: 250px;
    display: none;
    position: absolute;
    bottom: 10px;
    right: 0;
    background-color: #dfe4e3;
    color: rgb(240, 85, 85);
    padding: 24px 12px 24px 12px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-right: 10px solid lightcoral;
    z-index: 1000;
    overflow: hidden;
}

.notification-box .notification-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.notification-content .text {
    margin-left: 10px;
}